body{background-image:url("Rossetto.png");background-size:3%}
div{float:left;background-color:#DB244F;width:150px;height:100%;border-radius:15px;border-style:outset;border-color:#DB244F}
.elencoservizi{text-align:left;color:gold;font-size:23px;font-family:monotype corsiva}
h1{text-align:center;padding:20px; background-color:#FFC0CB;font-family:Verdana;color:#DB244F;border-radius:15px;border-style:outset;border-color:gold}
img{width:40%;height:60%;margin-left:300px;margin-right:50px;border-radius:20px;border-style:outset double;border-color:gold}