body{background-image:url("Rossetto.png");background-size:3%}
div{color:gold;font-size:23px;font-family:monotype corsiva;background-color:#DB244F;width:40%;height:55%;border-radius:15px;border-style:outset;border-color:#DB244F;margin-left:30%;margin-right:30%}
.elencoservizi{text-align:left;color:gold;font-size:23px;font-family:monotype corsiva}
h1{text-align:center;padding:20px; background-color:#FFC0CB;font-family:Verdana;color:#DB244F;border-radius:15px;border-style:outset;border-color:gold}
